*{
    background-color: black;
    color: #fff;
}
.card{
    width: 100%;
    height: 200px;
    background-image: url(../img/rosa.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}