.card1{
   width: 200px;
   height: 200px;
   background-color: #aa0; 
}
.card2{
    width:200px;
    height: 200px;
    background-color: #aa0; 
    padding: 10px;
    border: 20px solid rgb(33, 62, 175);   
}
.card3{
    box-sizing: border-box;
    width:200px;
    height: 200px;
    background-color: #aa0; 
    padding: 10px;
    border: 20px solid #aa0;   
}